{% extends 'core/base.html' %}



{% block contenido %}

<!--La redireccion del formulario según el paráetro name de las rutas-->
<form  action="{% url 'password' %}">

    <h1>Password Generator</h1>

    <label for="length">Select the length of your password</label>
    <select name="length" id="length">
        <option value="6">6 characters</option>
        <option value="7">7 characters</option>
        <option value="8">8 characters</option>
        <option value="9">9 characters</option>
        <option value="10">10 characters</option>
        <option value="11">11 characters</option>
        <option value="12">12 characters</option>
    </select>

    <label for="uppercase">Uppercase</label>
    <input type="checkbox" name="uppercase" id="uppercase">

    <label for="special">Special Characters</label>
    <input type="checkbox" name="special" id="special">

    <label for="numbers">Numbers</label>
    <input type="checkbox" name="numbers" id="numbers">

    <button>Generate Password</button>

</form>

{% endblock %}