{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Generate Password</title>
{% endblock %}

{% block contenido %}

<div class="card card-contenedor mx-auto m-5 col-md-6">
    <div class="card-header card-contenedor-header text-center text-light">
        Password
    </div>
    <div class="card-body text-light">
        <!--La redireccion del formulario según el paráetro name de las rutas-->
        <form action="{% url 'password' %}">

            <div class="mb-2">
                <label class="" for="length">Select the length of your password</label>
                <select class="form-select" name="length" id="length" aria-label="Default select example">
                    <option value="6">6 characters</option>
                    <option value="7">7 characters</option>
                    <option value="8">8 characters</option>
                    <option value="9">9 characters</option>
                    <option value="10">10 characters</option>
                    <option value="11">11 characters</option>
                    <option value="12">12 characters</option>
                </select>
            </div>

            <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" id="uppercase" name="uppercase">
                <label class="form-check-label" for="uppercase">Uppercase</label>
            </div>

            <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" id="special" name="special">
                <label class="form-check-label" for="special">Special</label>
            </div>

            <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" id="numbers" name="numbers">
                <label class="form-check-label" for="numbers">Number</label>
            </div>

            <div class="text-center">
                <button class="btn btn-info" type="submit">Generate</button>
            </div>


        </form>
    </div>
</div>



{% endblock %}